@color-black: black;
@color-orange: orange;
@backgroundcolor-sand: #C2B280;
@backgroundcolor-silver: silver;
@hundowidth: 100%;

html {
    max-width: 80%;
    margin:auto;
    background-color: @backgroundcolor-sand;
}

body {
   max-width: 80%;
    margin:auto;
    background-color: @backgroundcolor-sand;
}

.div1 {
    ul {
        list-style-type: none;
        display: inline;
        margin:5px;
        padding:2px;


    }
    li{
        float: right;


    
    }
    a{
        margin: 5px;
        padding: 2px;
        text-decoration: none;
        border-bottom: orange solid 3px;


    }
}

#div2 {
    position:relative;
    bottom: 300px;
    left: 300px;
    color: @color-orange;
    margin-top: 20px;
    
    p {
        color: @color-black;
    }
}

#div3 {
    margin: 25px 50px 75px;

    img {
        float: left;
        width: 33%;
        height:150px;
    }
}

#div6 {
    margin: auto;
    width: @hundowidth;
    height: 7x;
    width: 60%;
}

form {
   width:@hundowidth;
   height:200%;
   margin:auto;
   position:relative;
 }

input {
   width:@hundowidth;
   height: 200%;
}

textarea {
  width:@hundowidth;
  height: 200%;
}

#footer {
    margin: 0px auto;
    width: 850px;
    padding: 30px 0;
    width: 425px;
    text-align: center;
}    

.divSquare{
        width:48%; 
        height:200px; 
        margin:4px; 
        border:3px; 
        float: left
    }

input[type=submit] {
    width: 30%;
    background-color: orange;
    color: white;
    }
    #big_container { 
    border: thin solid black; 
    position:relative; 
    height: 300px;
}

#little_container {
height:180px; 
width:300px;
border: thin solid black;
margin:auto;
position: relative;
top: 200px;
left:300px;
background-color: silver;

}

#name-link {
    float:left;

    a {
        color: orange;
        border: 3px solid black;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }
}

#caveman {
        clear:left;
}

